:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* ::selection {
  background-color: none;
} */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 3px solid dodgerblue;
  outline-offset: 2px;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 50%;
  position: relative;
  left: 25%;
}

header {
  margin: 2rem 2rem; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

label,
p,
input button,
div,
br {
  margin-bottom: 1.5rem;
}

button {
  cursor: pointer; 
}

#seleccion_numeros,
#segunda_seleccion,
#juego,
#finalizado {
  display: none
}

#usuario button,
#primera_seleccion button,
#segunda_seleccion button,
.blue_button {
  width: 10% auto;
  padding: 0.5rem;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
}

input {
  width: 40%;
  padding: 0.5rem;
}

#juego {
  text-align: center;
}

#juego #reglas {
  text-align: left;
}

#tablero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60% auto;
  margin: 2rem;
  left: 25%;
}

#tablero button {
  width: 5rem;
  height: 3rem;
  margin: 0.2rem;
  font-size: 1rem;
  background-color: aquamarine;
}

#tablero button:visited {
  background-color: red;
  color: white;
}



#feedback_juego {
  text-align: center;
  font-weight: bold;
}

#finalizado p {
  text-align: center;
}

.blue_button {
  width: 15%;
  margin-right: 1rem;
}

.red_button {
  background-color: red;
  color: white;
  width: 10%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid black;
}

.plus_button {
  background-image: url("../icons/add_24x24.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: transparent;
  width: 4rem;
  height: 3rem;
}
.minus_button {
  background-image: url("../icons/subtraction_24x24.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: transparent;
  width: 4rem;
  height: 3rem;
}

.contrast_button {
  background-image: url("../icons/opacity_24x24.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: transparent;
  width: 4rem;
  height: 3rem;
}

.alter_body {
  background-color: black;
  color: white;
}

.alter_contrast_button, .alter_minus_button, .alter_plus_button {
  filter: invert();
}

#feedback_nombre,
#feedback_primer_numero,
#feedback_segundo_numero,
#feedback_juego {
  font-weight: bold;
  color: #eb0000;
}