:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5rem;
}

*,
*::before,
*::after,
html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 1.5rem;
}

header,
main,
footer {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.98rem;
  line-height: 4rem;
  text-align: center;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 2.07rem;
  line-height: 3rem;
}

p {
  margin: 1.5rem;
}

.cambioCaja {
  text-transform: lowercase;
}

span {
  text-transform: uppercase;
}

.contenedor {
  background-color: aqua;
  display: flex;
  /* flex-flow: column wrap;   ***por defecto es row nowrap***
  height: 600px;  */
}

.elemento {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: burlywood;
}

.contenedor2 {
  background-color: rgb(184, 248, 184);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; /* *** por defecto es flex-start*** */
}

.element {
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: rgb(255, 217, 0);
}

.contenedor3 {
  background-color: rgb(53, 61, 53);
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  overflow: auto;
}

.elemen {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  background-color: rgb(224, 223, 213);
  font-size: 1.8rem;
  line-height: 4rem;
}

.uno {
  line-height: 5rem;
  font-size: 3rem;
}

.dos {
  padding-top: 1.5rem;
  line-height: 5rem;
  font-size: 3rem;
}

.contenedor4 {
  background-color: rgb(255, 4, 4);
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.eleme {
  text-align: center;
  width: 100px;
  /* height: 100px; */
  margin: 0.5rem;
  background-color: rgb(224, 223, 213);
  font-size: 1.8rem;
  line-height: 4rem;
}

.flex-container {
  display: flex;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: dodgerblue;
  color: white;
  width: 100px;
  margin: 0.5rem;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
}

div.orden {
  background-color: red;
  order: 3; /* Por defecto el valor es 0 */
}

div.orden2 {
  background-color: black;
  order: 2;
}

div.grow {
  flex-grow: 1;
  background-color: red;
}

div.grow2 {
  flex-grow: 2;
  background-color: black;
}

div.shrink {
  flex-shrink: 2;
  background-color: rgb(64, 222, 24);
}

div.shrink2 {
  flex-shrink: 4;
  background-color: rgb(110, 57, 234);
}

div.basis {
  flex-basis: 350px; /* El basis es equivalente al width */
}

div.paraladiv2 {
  flex: 0 3 200px; /* grow de 0, shrink de 3, basis de 200px */
}

div.paraladiv3 {
  background-color: rgb(64, 222, 24);
  flex: 2 1;
}
