.foto-productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 2rem;
  gap: 1rem;
}

.foto-productos img {
  width: 350px;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .foto-productos img {
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .foto-productos img {
    width: 100%;
    height: 150px;
  }
}
