.ancho {
  width: 50%;
}

@media (max-width: 1770px) {
  .ancho {
    width: 60%;
  }
}
@media (max-width: 1475px) {
  .ancho {
    width: 70%;
  }
}
@media (max-width: 1265px) {
  .ancho {
    width: 80%;
  }
}
@media (max-width: 770px) {
  .ancho {
    width: 90%;
  }

  .p-5 {
    padding: 3rem 1rem !important;
  }
}
